<!doctype html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/static/data/css/default.css" />
    {% if title %}
    <title>{{ title | replace("_", " ") | title }} - Vicious Mockery</title>
    {% else %}
    <title>Welcome to Vicious Mockery</title>
    {% endif %}
</head>

<body>
    <nav>
        <div class="navbar">
            <a href="/index" class="brand-logo">Vicious Mockery:</a>
            <div class="dropdown">
                <button class="dropbtn">Categories
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% for cat in categories %}
                    <a href="/{{ cat }}">{{ cat | replace("_", " ") | title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/data/js/materialize.min.js"></script>
</body>

</html>