<!doctype html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/data/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

    {% if title %}
    <title>{{ title | replace("_", " ") | title }} - Vicious Mockery</title>
    {% else %}
    <title>Welcome to Vicious Mockery</title>
    {% endif %}
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/index" class="brand-logo">Vicious Mockery:</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% for cat in categories %}
                <li><a href="/{{ cat }}">{{ cat | replace("_", " ") | title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/data/js/materialize.min.js"></script>
</body>

</html>